{% from '_formHelpers.html' import render_field %}

{% block content %}
<h1 class="display-6">Login</h1>
<div class="card text-center">
    <div class="card-body">
        <form method="post">
            <dl>
                {{ render_field(form.username, class="form-control", placeholder="Username") }}
                {{ render_field(form.password, class="form-control", placeholder="Password") }}
            </dl>
            <div class="d-grid col-6 mx-auto">
                <button class="btn btn-primary" 
                        type="submit"
                        hx-post="{{ url_for('auth.login') }}" 
                        hx-target="#base-column"
                        hx-push-url="true"
                        hx-swap="innerHTML">
                    <span uk-icon="play"></span>
                </button>
            </div>
        </form>
    </div>
</div>
<p class="text-center mt-3">Don't have an account? <a href="#"
                                                      hx-get="{{ url_for('auth.signup') }}"
                                                      hx-target="#base-column"
                                                      hx-push-url="true"
                                                      hx-swap="innerHTML">
                                                      Sign up!
                                                   </a>
</p>
{% endblock %}